<!DOCTYPE html>
<html>
<head>
	<title>Cars</title>
</head>
<body>
	<h2>the coolest cats around</h2>
	<a href="speedy"><img src="images/car.jpg"></a>
	<a href="pretty"><img src="images/cat.jpg"></a>
	<a href="cool"><img src="images/download.jpg"></a>
	<h3>cat cat cat bleh</h3>
	
</body>
</html>