<!DOCTYPE html>
<html>
<head>
	<title>asdf</title>
</head>
<body>
	<form>
		Name <input type="text" name="name">
		Are you cool? 
		<label for="1">Yes</label>
		<input type="radio" name="1">
		<label for="2">No</label>
		<input type="radio" name="2">
		<p></p>
		<label for="birthday">Birthday</label>
		<input type="date" id="birthday" name="birthday">
		<p></p>
		What is your first language?
		<select name="language">
		    	<option value="javascript">Javascript</option>
		    	<option value="python">Python</option>
		    	<option value="c++">C++</option>
		    	<option value="html">HTML</option>
		    	<option value="css">CSS</option>
		    	<option value="other">Other</option>
		    </select>
	</form>
</body>
</html>