<!DOCTYPE html>
<html>
<head>
	<title>Cars</title>
</head>
<body>
	<h2>cars cars cars</h2>
	<img src="images/car.jpg">
	<h3>cat cat cat bleh</h3>
	<img src="images/cat.jpg">
</body>
</html>