<!DOCTYPE html>
<html>
<head>
	<title>asdf</title>
</head>
<body>
	<h3>I did it all for the money</h3>
	<ul>
		<li>one</li>
		<li>one</li>
	</ul>
	<h2><%= counter %></h2>
	<a href="/count">COUNTER</a>
</body>
</html>