<!DOCTYPE html>
<html>
<head>
	<title>Details</title>
</head>
<body>
	<h3>This animal</h3>
	<p><%= animal.name %></p>
	<p><%= animal.species %></p>
	<p><%= animal.description %></p>
</body>
</html>