<!DOCTYPE html>
<html>
<head>
	<title>results</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Submitted Information</h1>
	<h3>Name <%= form.name %></h3>
	<h3>Is this person cool? <%= form.cool %></h3>
	<h3>Birthday <%= form.birthday %></h3>
	<h3>Native tongue <%= form.language %></h3>


</body>
</html>