<!DOCTYPE html>
<html>
<head>
	<title>index</title>
</head>
<body>
	<h1>Welcome to Quoting Dojo</h1>
	<form method="post" action="/quotes">
		Your Name: <input type="text" name="name">
		Your Quote: <input type="text" name="quote">
		<input type="submit" value="Add my quote!">
		<a href="/quotes">Skip to quotes!</a>
	</form>
</body>
</html>